.auto-grid {
    display: grid;
    /* auto-fill: crea tantas columnas como quepan */
    grid-template-columns: repeat(auto-fill, minmax(10.3rem, 1fr));
    grid-auto-rows: 3.5rem;
    gap: 0.625rem;
}

.auto-grid .link {
    grid-row: span 1;
}

.auto-grid .superlink {
    grid-row: span 2;
}
