@import 'tailwindcss';

@theme {
    --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --color-background: #0d1117;
    --color-foreground: 255 255 255;
    --color-button-bg: #238636;
    --color-button-hover-bg: #29903b;

    /** text **/
    --color-primary-text: #f0f6fc;
    --color-secondary-text: #8b949e;

    /** border **/
    --color-input-border: #3d444d;
    --radius-md: 0.375rem; /* 6px */

    /** font sizes **/
    --text-size-sm: 0.875rem; /* 14px */
    --text-size-lg: 1.25rem; /* 20px */
}

/*========= <html> =========*/
:root {
    color-scheme: dark;
    color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0d1117;
    font-size: 16px;
    height: 100%;
    width: 100%;
    /*========= <body> =========*/
    body {
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
        height: 100%;
        width: 100%;
        /*========= <div id="root"> =========*/
        #root {
            width: 100%;
            height: 100%;
        }
    }
}

/* Fix autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: var(--color-primary-text); */
    /* transition: background-color 5000s ease-in-out 0s; */
    /* box-shadow: inset 0 0 20px 20px transparent; */
}
